/* UTILS */
.avatarImg {
  width: 3rem;
  border-radius: 50%;
}

.titles {
  font-size: 1.2rem;
}

.iconsSize {
  font-size: 1rem;
}

.messageHours {
  font-size: 0.7rem;
}

/* background pagina */
#backgroundPage {
  background-color: #d9dbd4;
}

#backgroundPageGreen {
  background-color: #009688;
  height: 20vh;
}

/* MY PROFILE */

#myProfile {
  background-color: #eaeaea;
  border: 1px solid #b1b1b1;
}

#myIcons {
  color: #b1b1b1;
}

#myIcons span {
  margin: 5px;
}

/* NOTIFICATION */

.notificationColor {
  background-color: #8edafc;
}

.notificationIcon {
  color: #8edafc;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
}

/* SEARCHBAR */

#searchbar {
  background-color: #eaeaea;
  border: 1px solid #b1b1b1;
}

/* CHATS */
#chatSelection {
  background-color: #ffffff;
  /* max-height: 80vh; */
}

.chatActiveList {
  background-color: #e9ebeb;
}

.chat {
  border: 1px solid #b1b1b1;
}

/* CHAT ACTIVE */

#chatActiveMain {
  background-color: #eaeaea;
  border: 1px solid #b1b1b1;
}

/* CURRENT CHAT */

#currentChat {
  width: 100%;
  height: 100vh;
  background-image: url("../img/mine.jpg");
}

.textSend {
  background-color: #d5f9ba;
}

.textReceived {
  background-color: #ffffff;
}